*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
    
}

h1,h2 
{
    font-size: 30px;
}

body
{
    background-color: rgb(168, 203, 223);

}

img.lado 
{
    float: right;
}

main
{
    background-color: azure;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}